<a href="https://colab.research.google.com/github/Ayyagari99/AI_labwork/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1:
Load the csv file of the dataset into a dataframe

In [2]:
import pandas as pd

In [3]:
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
pd.reset_option('max_columns')
df = pd.read_csv("/content/mydata.csv")
print(df)

           date  actual_mean_temp  ...  average_precipitation  record_precipitation
0      2014-7-1                81  ...                   0.10                  5.91
1      2014-7-2                85  ...                   0.10                  1.53
2      2014-7-3                82  ...                   0.11                  2.50
3      2014-7-4                75  ...                   0.10                  2.63
4      2014-7-5                72  ...                   0.10                  1.65
5      2014-7-6                74  ...                   0.10                  1.95
6      2014-7-7                79  ...                   0.11                  2.37
7      2014-7-8                83  ...                   0.11                  1.87
8      2014-7-9                80  ...                   0.12                  3.71
9     2014-7-10                78  ...                   0.11                  2.45
10    2014-7-11                78  ...                   0.12                  3.10
11    2014-7-12                79  ...                   0.11                  1.95
12    2014-7-13                81  ...                   0.12                  2.09
13    2014-7-14                85  ...                   0.12                  2.15
14    2014-7-15                81  ...                   0.12                  4.61
15    2014-7-16                76  ...                   0.12                  1.47
16    2014-7-17                74  ...                   0.12                  4.14
17    2014-7-18                77  ...                   0.12                  1.82
18    2014-7-19                70  ...                   0.12                  2.30
19    2014-7-20                74  ...                   0.12                  1.25
20    2014-7-21                74  ...                   0.12                  3.83
21    2014-7-22                79  ...                   0.12                  2.56
22    2014-7-23                80  ...                   0.13                  6.88
23    2014-7-24                80  ...                   0.12                  2.83
24    2014-7-25                77  ...                   0.13                  2.34
25    2014-7-26                78  ...                   0.13                  2.84
26    2014-7-27                80  ...                   0.13                  2.46
27    2014-7-28                79  ...                   0.13                  2.98
28    2014-7-29                73  ...                   0.14                  2.04
29    2014-7-30                74  ...                   0.14                  4.24
30    2014-7-31                72  ...                   0.14                  1.45
31     2014-8-1                68  ...                   0.14                  2.39
32     2014-8-2                69  ...                   0.14                  2.00
33     2014-8-3                77  ...                   0.15                  4.51
34     2014-8-4                78  ...                   0.15                  2.59
35     2014-8-5                77  ...                   0.15                  3.01
36     2014-8-6                78  ...                   0.14                  3.19
37     2014-8-7                78  ...                   0.13                  1.53
38     2014-8-8                77  ...                   0.13                  1.37
39     2014-8-9                76  ...                   0.13                  1.26
40    2014-8-10                70  ...                   0.13                  2.26
41    2014-8-11                78  ...                   0.13                  3.04
42    2014-8-12                81  ...                   0.13                  2.25
43    2014-8-13                75  ...                   0.14                  1.27
44    2014-8-14                71  ...                   0.14                  2.00
45    2014-8-15                73  ...                   0.14                  3.17
46    2014-8-16                77  ...                   0.14                  2.51
47    2014-8-17                78  ...                   0.14                  2.92
48    2014-8-18                81  ...                   0.13                  1.76
49    2014-8-19                80  ...                   0.14                  1.96
50    2014-8-20                79  ...                   0.14                  1.84
51    2014-8-21                80  ...                   0.13                  2.22
52    2014-8-22                83  ...                   0.15                  2.81
53    2014-8-23                82  ...                   0.13                  2.74
54    2014-8-24                74  ...                   0.14                  2.35
55    2014-8-25                72  ...                   0.14                  3.16
56    2014-8-26                72  ...                   0.14                  5.36
57    2014-8-27                72  ...                   0.13                  4.39
58    2014-8-28                77  ...                   0.13                  4.64
59    2014-8-29                79  ...                   0.13                  1.42
60    2014-8-30                79  ...                   0.12                  2.54
61    2014-8-31                83  ...                   0.12                  3.40
62     2014-9-1                82  ...                   0.11                  2.93
63     2014-9-2                82  ...                   0.12                  1.20
64     2014-9-3                81  ...                   0.11                  2.67
65     2014-9-4                77  ...                   0.11                  1.15
66     2014-9-5                79  ...                   0.11                  2.46
67     2014-9-6                80  ...                   0.11                  3.47
68     2014-9-7                79  ...                   0.11                  2.38
69     2014-9-8                70  ...                   0.11                  1.96
70     2014-9-9                72  ...                   0.11                  1.92
71    2014-9-10                72  ...                   0.10                  3.64
72    2014-9-11                77  ...                   0.10                  1.80
73    2014-9-12                81  ...                   0.09                  1.76
74    2014-9-13                76  ...                   0.11                  4.12
75    2014-9-14                66  ...                   0.10                  3.23
76    2014-9-15                76  ...                   0.11                  4.06
77    2014-9-16                76  ...                   0.11                  4.06
78    2014-9-17                69  ...                   0.11                  3.14
79    2014-9-18                71  ...                   0.11                  4.84
80    2014-9-19                73  ...                   0.10                  2.72
81    2014-9-20                71  ...                   0.11                  2.82
82    2014-9-21                71  ...                   0.11                  2.74
83    2014-9-22                69  ...                   0.10                  2.92
84    2014-9-23                59  ...                   0.11                  1.69
85    2014-9-24                59  ...                   0.10                  3.89
86    2014-9-25                66  ...                   0.11                  1.31
87    2014-9-26                67  ...                   0.11                  2.54
88    2014-9-27                69  ...                   0.11                  1.94
89    2014-9-28                68  ...                   0.12                  3.38
90    2014-9-29                67  ...                   0.11                  3.59
91    2014-9-30                71  ...                   0.12                  3.65
92    2014-10-1                70  ...                   0.12                  3.80
93    2014-10-2                72  ...                   0.11                  1.60
94    2014-10-3                70  ...                   0.12                  2.15
95    2014-10-4                55  ...                   0.12                  4.21
96    2014-10-5                52  ...                   0.12                  1.16
97    2014-10-6                62  ...                   0.12                  1.98
98    2014-10-7                67  ...                   0.11                  2.70
99    2014-10-8                72  ...                   0.12                  3.82
100   2014-10-9                66  ...                   0.12                  3.80
101  2014-10-10                72  ...                   0.11                  4.18
102  2014-10-11                78  ...                   0.12                  2.58
103  2014-10-12                63  ...                   0.12                  2.82
104  2014-10-13                66  ...                   0.12                  1.93
105  2014-10-14                73  ...                   0.11                  2.27
106  2014-10-15                66  ...                   0.11                  1.83
107  2014-10-16                61  ...                   0.11                  4.76
108  2014-10-17                59  ...                   0.11                  1.90
109  2014-10-18                65  ...                   0.12                  2.34
110  2014-10-19                57  ...                   0.10                  1.20
111  2014-10-20                59  ...                   0.11                  2.33
112  2014-10-21                61  ...                   0.11                  1.31
113  2014-10-22                56  ...                   0.10                  4.52
114  2014-10-23                55  ...                   0.11                  1.72
115  2014-10-24                54  ...                   0.10                  0.85
116  2014-10-25                57  ...                   0.09                  2.65
117  2014-10-26                66  ...                   0.10                  1.85
118  2014-10-27                62  ...                   0.09                  2.03
119  2014-10-28                68  ...                   0.10                  1.23
120  2014-10-29                69  ...                   0.10                  1.65
121  2014-10-30                57  ...                   0.10                  2.51
122  2014-10-31                50  ...                   0.10                  1.68
123   2014-11-1                47  ...                   0.10                  1.14
124   2014-11-2                44  ...                   0.10                  1.82
125   2014-11-3                45  ...                   0.10                  1.69
126   2014-11-4                53  ...                   0.10                  1.97
127   2014-11-5                60  ...                   0.10                  0.97
128   2014-11-6                60  ...                   0.10                  1.34
129   2014-11-7                50  ...                   0.10                  1.71
130   2014-11-8                45  ...                   0.11                  2.79
131   2014-11-9                51  ...                   0.10                  2.76
132  2014-11-10                51  ...                   0.10                  1.43
133  2014-11-11                57  ...                   0.09                  1.82
134  2014-11-12                59  ...                   0.10                  1.54
135  2014-11-13                53  ...                   0.10                  1.93
136  2014-11-14                37  ...                   0.11                  1.23
137  2014-11-15                35  ...                   0.10                  1.32
138  2014-11-16                41  ...                   0.10                  2.26
139  2014-11-17                47  ...                   0.11                  1.90
140  2014-11-18                30  ...                   0.10                  1.93
141  2014-11-19                29  ...                   0.11                  2.04
142  2014-11-20                47  ...                   0.11                  1.36
143  2014-11-21                44  ...                   0.11                  3.26
144  2014-11-22                39  ...                   0.11                  1.68
145  2014-11-23                54  ...                   0.11                  1.72
146  2014-11-24                67  ...                   0.11                  1.68
147  2014-11-25                58  ...                   0.10                  2.42
148  2014-11-26                46  ...                   0.11                  2.36
149  2014-11-27                43  ...                   0.11                  1.54
150  2014-11-28                36  ...                   0.11                  2.93
151  2014-11-29                44  ...                   0.12                  1.37
152  2014-11-30                54  ...                   0.11                  2.09
153   2014-12-1                57  ...                   0.11                  1.21
154   2014-12-2                49  ...                   0.11                  1.85
155   2014-12-3                53  ...                   0.12                  2.96
156   2014-12-4                56  ...                   0.11                  1.93
157   2014-12-5                47  ...                   0.11                  2.06
158   2014-12-6                47  ...                   0.10                  2.37
159   2014-12-7                48  ...                   0.10                  1.56
160   2014-12-8                40  ...                   0.11                  1.15
161   2014-12-9                46  ...                   0.10                  1.78
162  2014-12-10                43  ...                   0.10                  1.91
163  2014-12-11                37  ...                   0.11                  1.69
164  2014-12-12                41  ...                   0.11                  1.57
165  2014-12-13                46  ...                   0.10                  1.78
166  2014-12-14                46  ...                   0.10                  2.38
167  2014-12-15                43  ...                   0.10                  2.46
168  2014-12-16                48  ...                   0.10                  1.58
169  2014-12-17                46  ...                   0.10                  1.30
170  2014-12-18                43  ...                   0.10                  1.74
171  2014-12-19                43  ...                   0.11                  0.85
172  2014-12-20                44  ...                   0.10                  2.38
173  2014-12-21                47  ...                   0.10                  2.19
174  2014-12-22                42  ...                   0.11                  2.27
175  2014-12-23                42  ...                   0.11                  2.12
176  2014-12-24                53  ...                   0.11                  1.47
177  2014-12-25                45  ...                   0.10                  2.32
178  2014-12-26                43  ...                   0.11                  1.72
179  2014-12-27                48  ...                   0.10                  1.25
180  2014-12-28                55  ...                   0.11                  1.67
181  2014-12-29                51  ...                   0.10                  1.82
182  2014-12-30                39  ...                   0.10                  1.21
183  2014-12-31                37  ...                   0.10                  2.15
184    2015-1-1                40  ...                   0.11                  1.54
185    2015-1-2                47  ...                   0.10                  2.10
186    2015-1-3                50  ...                   0.11                  1.93
187    2015-1-4                56  ...                   0.11                  1.32
188    2015-1-5                45  ...                   0.12                  1.77
189    2015-1-6                41  ...                   0.11                  3.45
190    2015-1-7                29  ...                   0.12                  1.76
191    2015-1-8                18  ...                   0.11                  1.47
192    2015-1-9                34  ...                   0.11                  1.91
193   2015-1-10                30  ...                   0.12                  2.35
194   2015-1-11                31  ...                   0.12                  1.78
195   2015-1-12                41  ...                   0.11                  2.22
196   2015-1-13                41  ...                   0.12                  1.68
197   2015-1-14                35  ...                   0.11                  1.45
198   2015-1-15                34  ...                   0.11                  0.96
199   2015-1-16                43  ...                   0.11                  1.69
200   2015-1-17                41  ...                   0.11                  2.38
201   2015-1-18                49  ...                   0.11                  2.51
202   2015-1-19                49  ...                   0.11                  2.28
203   2015-1-20                53  ...                   0.11                  1.98
204   2015-1-21                50  ...                   0.11                  2.28
205   2015-1-22                41  ...                   0.11                  1.79
206   2015-1-23                41  ...                   0.11                  1.48
207   2015-1-24                43  ...                   0.10                  1.79
208   2015-1-25                43  ...                   0.11                  2.27
209   2015-1-26                45  ...                   0.10                  1.43
210   2015-1-27                39  ...                   0.10                  1.51
211   2015-1-28                36  ...                   0.11                  1.27
212   2015-1-29                38  ...                   0.10                  1.21
213   2015-1-30                38  ...                   0.11                  1.13
214   2015-1-31                35  ...                   0.11                  1.75
215    2015-2-1                47  ...                   0.11                  1.78
216    2015-2-2                42  ...                   0.11                  2.30
217    2015-2-3                34  ...                   0.12                  1.25
218    2015-2-4                41  ...                   0.11                  1.93
219    2015-2-5                40  ...                   0.11                  2.00
220    2015-2-6                32  ...                   0.10                  2.91
221    2015-2-7                47  ...                   0.11                  1.65
222    2015-2-8                59  ...                   0.10                  1.12
223    2015-2-9                56  ...                   0.11                  1.81
224   2015-2-10                45  ...                   0.10                  2.22
225   2015-2-11                42  ...                   0.11                  1.19
226   2015-2-12                42  ...                   0.11                  1.65
227   2015-2-13                31  ...                   0.12                  1.88
228   2015-2-14                40  ...                   0.11                  1.53
229   2015-2-15                25  ...                   0.13                  1.65
230   2015-2-16                29  ...                   0.12                  2.28
231   2015-2-17                29  ...                   0.13                  1.47
232   2015-2-18                32  ...                   0.12                  1.89
233   2015-2-19                19  ...                   0.13                  2.08
234   2015-2-20                19  ...                   0.13                  1.82
235   2015-2-21                34  ...                   0.13                  1.44
236   2015-2-22                47  ...                   0.13                  1.53



---


# Question 2:
Find the mean, median, mode, min and max of all numeric attributes

In [4]:
df.mean(numeric_only=True)

actual_mean_temp           61.049315
actual_min_temp            49.958904
actual_max_temp            71.630137
average_min_temp           48.819178
average_max_temp           70.983562
record_min_temp            31.465753
record_max_temp            88.728767
record_min_temp_year     1953.279452
record_max_temp_year     1953.989041
actual_precipitation        0.102411
average_precipitation       0.114082
record_precipitation        2.208904
dtype: float64

In [5]:
df.median(numeric_only=True)

actual_mean_temp           63.00
actual_min_temp            52.00
actual_max_temp            73.00
average_min_temp           48.00
average_max_temp           72.00
record_min_temp            30.00
record_max_temp            90.00
record_min_temp_year     1963.00
record_max_temp_year     1953.00
actual_precipitation        0.00
average_precipitation       0.11
record_precipitation        1.98
dtype: float64

In [6]:
df.mode(numeric_only=True)

   actual_mean_temp  ...  record_precipitation
0              78.0  ...                  1.65
1               NaN  ...                  1.78
2               NaN  ...                  1.82

[3 rows x 12 columns]

In [7]:
df.min(numeric_only=True)

actual_mean_temp           18.00
actual_min_temp             7.00
actual_max_temp            26.00
average_min_temp           29.00
average_max_temp           50.00
record_min_temp            -5.00
record_max_temp            69.00
record_min_temp_year     1879.00
record_max_temp_year     1879.00
actual_precipitation        0.00
average_precipitation       0.09
record_precipitation        0.85
dtype: float64

In [8]:
df.max(numeric_only=True)

actual_mean_temp           88.00
actual_min_temp            75.00
actual_max_temp           100.00
average_min_temp           68.00
average_max_temp           89.00
record_min_temp            62.00
record_max_temp           104.00
record_min_temp_year     2015.00
record_max_temp_year     2015.00
actual_precipitation        2.65
average_precipitation       0.15
record_precipitation        6.88
dtype: float64



---


# Question 3:
Print the top 20% of rows showing only the first four columns

In [9]:
df.iloc[ : int(0.2*len(df)), : 4]

         date  actual_mean_temp  actual_min_temp  actual_max_temp
0    2014-7-1                81               70               91
1    2014-7-2                85               74               95
2    2014-7-3                82               71               93
3    2014-7-4                75               64               86
4    2014-7-5                72               60               84
5    2014-7-6                74               61               87
6    2014-7-7                79               67               91
7    2014-7-8                83               72               94
8    2014-7-9                80               71               89
9   2014-7-10                78               71               85
10  2014-7-11                78               68               87
11  2014-7-12                79               67               91
12  2014-7-13                81               69               92
13  2014-7-14                85               74               96
14  2014-7-15                81               67               94
15  2014-7-16                76               66               85
16  2014-7-17                74               63               84
17  2014-7-18                77               70               83
18  2014-7-19                70               66               74
19  2014-7-20                74               65               83
20  2014-7-21                74               70               77
21  2014-7-22                79               72               85
22  2014-7-23                80               69               90
23  2014-7-24                80               71               89
24  2014-7-25                77               68               86
25  2014-7-26                78               66               89
26  2014-7-27                80               70               90
27  2014-7-28                79               68               90
28  2014-7-29                73               62               83
29  2014-7-30                74               63               85
30  2014-7-31                72               65               78
31   2014-8-1                68               65               70
32   2014-8-2                69               65               72
33   2014-8-3                77               67               86
34   2014-8-4                78               69               87
35   2014-8-5                77               65               88
36   2014-8-6                78               68               88
37   2014-8-7                78               67               88
38   2014-8-8                77               73               81
39   2014-8-9                76               68               84
40  2014-8-10                70               67               73
41  2014-8-11                78               71               85
42  2014-8-12                81               72               89
43  2014-8-13                75               65               84
44  2014-8-14                71               59               83
45  2014-8-15                73               60               86
46  2014-8-16                77               68               86
47  2014-8-17                78               67               89
48  2014-8-18                81               71               90
49  2014-8-19                80               70               90
50  2014-8-20                79               67               91
51  2014-8-21                80               67               93
52  2014-8-22                83               70               95
53  2014-8-23                82               73               91
54  2014-8-24                74               66               81
55  2014-8-25                72               60               83
56  2014-8-26                72               60               84
57  2014-8-27                72               57               87
58  2014-8-28                77               61               92
59  2014-8-29                79               69               88
60  2014-8-30                79               68               90
61  2014-8-31                83               74               91
62   2014-9-1                82               71               93
63   2014-9-2                82               69               94
64   2014-9-3                81               68               93
65   2014-9-4                77               69               85
66   2014-9-5                79               69               89
67   2014-9-6                80               70               90
68   2014-9-7                79               70               88
69   2014-9-8                70               67               73
70   2014-9-9                72               66               77
71  2014-9-10                72               65               79
72  2014-9-11                77               64               89



---


# Question 4:
Create a new column (newColumn), with values same as the column 'actual_mean_temp'. Print head of the dataframe.

In [10]:
df["newColumn"]= df["actual_mean_temp"]
df.head()

       date  actual_mean_temp  ...  record_precipitation  newColumn
0  2014-7-1                81  ...                  5.91         81
1  2014-7-2                85  ...                  1.53         85
2  2014-7-3                82  ...                  2.50         82
3  2014-7-4                75  ...                  2.63         75
4  2014-7-5                72  ...                  1.65         72

[5 rows x 14 columns]



---


# Question 5:
Remove the new column created. Print head of the dataframe

In [11]:
del df["newColumn"]
df.head()

       date  actual_mean_temp  ...  average_precipitation  record_precipitation
0  2014-7-1                81  ...                   0.10                  5.91
1  2014-7-2                85  ...                   0.10                  1.53
2  2014-7-3                82  ...                   0.11                  2.50
3  2014-7-4                75  ...                   0.10                  2.63
4  2014-7-5                72  ...                   0.10                  1.65

[5 rows x 13 columns]



---


# Question 6:
Print the first 10 rows. Remove the row containing data of '2014-7-3'. Save this row in a variable of type series. Print the first 10 rows after removal.

In [12]:
df.head(10)

        date  actual_mean_temp  ...  average_precipitation  record_precipitation
0   2014-7-1                81  ...                   0.10                  5.91
1   2014-7-2                85  ...                   0.10                  1.53
2   2014-7-3                82  ...                   0.11                  2.50
3   2014-7-4                75  ...                   0.10                  2.63
4   2014-7-5                72  ...                   0.10                  1.65
5   2014-7-6                74  ...                   0.10                  1.95
6   2014-7-7                79  ...                   0.11                  2.37
7   2014-7-8                83  ...                   0.11                  1.87
8   2014-7-9                80  ...                   0.12                  3.71
9  2014-7-10                78  ...                   0.11                  2.45

[10 rows x 13 columns]



---


# Question 7:
Add the row deleted before, and print the first 10 rows



---


# Question 8:
Update the actual_min_temp in the data row for date 2014-7-3 to any value. Print the updated row.

In [18]:
#updating new val as 70

df.loc[(df['date'] == '2014-7-3'),'actual_min_temp'] = '70'
df.loc[2,:]

date                     2014-7-3
actual_mean_temp               82
actual_min_temp                70
actual_max_temp                93
average_min_temp               68
average_max_temp               89
record_min_temp                56
record_max_temp                99
record_min_temp_year         2010
record_max_temp_year         1931
actual_precipitation         0.14
average_precipitation        0.11
record_precipitation          2.5
Name: 2, dtype: object



---


# Question 9:
Add 5 to the actual_mean_temp wherever the actual_min_temp is odd. Do this only on the top 10 rows. Print these 10 rows before and after the operation.



---


# Question 10:
10. Print only those rows where the absolute difference between the record_min_temp_year and record_max_temp_year is less than 30.